body{
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Mono', monospace;
	background-color: rgba(0, 0, 0, 0.1);
}

ellipse.cls-1 {
	fill: red;
}

#Layer_1 {
	background-color: gold;
}

/*.st140:hover{
	fill: #000000 !important;
	color: #000000 ;
	opacity: 1;
}*/

.intro{
	font-size: 20px;
}

/*NEW*/
p.IntroText {
	font-size:20px;
	color: #000000;
}

p.IntroText_QNS {
	font-size:48px;
	color: #2E093D;
}

.Intro{
	width: 75%;
	padding: 0 10% 0 10%;
	margin: 10% 10% 0 0;
}

/*
#vis{
	top: 0;
	left: 0;
	position: absolute;
}
